body{
    font-family: 'Poppins', sans-serif;
    margin:0 ;
}
h1{
    font-size: 50px;
}
.heading-name-span{
    color: chartreuse;
}

.flex-display{
    display: flex;
    padding-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.heading-pra{
    text-align: justify;
}
.img{
    width: 80%;
    padding-left: 10%;
    padding-top: 5%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange,red);
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.top-banner-section{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.middle-section-pra{
    padding-right: 25%;
    text-align: justify;
}
.big-dream{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.img-dream{
    width: 80%;
    padding-right: 10%;
    padding-top: 5%;
}


.exp-item{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 50px 10px gray;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    border-radius: 6px;
}
.experince-era{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack-developer{
    border-left: 7px solid tomato;
}
#baby-developer{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}