body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.heading-name-span{
    color: chartreuse;
}

section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.img{
    width: 80%;
    padding-left: 5%;
    padding-top: 5%;
}